<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать профиль</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <div class="profile-container">
        <h1 class="profile-title">Редактировать профиль</h1>

        <form method="POST" enctype="multipart/form-data" class="profile-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Обновить профиль</button>
    </form>

        <div class="profile-action">
            <a href="{% url 'profile' %}" class="profile-edit-btn">Назад к профилю</a>
        </div>
    </div>

</body>
</html>
