<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
    <link rel="stylesheet">
</head>
<body>
    <h1>Ваша корзина</h1>

    {% if cart.cartproduct_set.all %}
        <table>
            <thead>
                <tr>
                    <th>Товар</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th>Всего</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart.cartproduct_set.all %}
                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.product.price }} тг</td>
                        <td>{{ item.quantity }}</td>
                        <h3>Общая сумма: {{ total }} тг</h3>

                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h3>Общая сумма: {{ cart.total_price }} тг</h3>
    {% else %}
        <p>Ваша корзина пуста.</p>
        <a href="{% url 'shop:product_list' %}">Вернуться к покупкам</a>
    {% endif %}
</body>
</html>
